﻿@model AuthorBooksDTO
<link rel="stylesheet" href="~/css/add-book-to-user.css"/>
<form asp-action="AddBook" method="post">
    <div class="reg">
        <h1>
            Choose The Book To Add
        </h1>
        <input name="authorId" value="@Model.AuthorId" hidden="hidden"/>
        <select name="bookId">
            @foreach (var book in @Model.Books)
            {
                <option value="@book.Id">@book.Title</option>
            }
        </select>
        <button type="submit" class="btn-custom">Submit</button>
    </div>
</form>