﻿@model Author
<link rel="stylesheet" href="~/css/author-show.css"/>

<div class="author-info">
    <h1>Author Name</h1>
    <h3>@Model.AuthorName</h3>
    <h2>List of books</h2>
    <h3>Book Title</h3>
    <ul>
        @foreach (var book in @Model.AuthorsBooks)
        {
            <li class="li1">@book.Book.Title</li>
            <a asp-controller="Author" asp-action="DelBook" asp-route-bookId="@book.BookId" asp-route-authorId="@book.AuthorId" class="del">Del Upper Book</a>
        }
    </ul>
</div>