﻿@model CreateAuthorDTO
<link rel="stylesheet" href="~/css/add-author-form.css"/>

<form asp-action="CreateAuthor" method="post">
    <div class="reg">
        <h1>Create New Author</h1>
        <label asp-for="AuthorName">First And Last Name</label>
        <input asp-for="AuthorName"/>
        <button type="submit" class="btn-custom">Submit</button>
    </div>
</form>