﻿@model UptadeAuthorDTO
<link rel="stylesheet" href="~/css/author-upd-form.css"/>
<form asp-action="Update" method="post">
    <div class="upd">
        <input asp-for="AuthorId" value="@Model.AuthorId" hidden="hidden"/>
        <h1>
            Enter New Value For The Author
        </h1>
        <label>First And Last Name</label>
        <input asp-for="AuthorName" value="@Model.AuthorName"/>
        <button type="submit" class="btn-custom">Submit</button>
    </div>
</form>