<link rel="stylesheet" href="~/css/site.css"/>

<div class="background">
    <img src="~/the-Newberry.jpg" class="back"/>
</div>
<div class="namelib">
    <h1 class="name">SVEN</h1>
</div>
<div class="info">
    <h2 class="h2inf">Here you can:</h2>
    <ul class="ul">
        <li class="li">Add users/authors/books</li>
        <li>Remove users/authors/books</li>
        <li>Search users/authors/books</li>
        <li>Edit info</li>
        <li>Save data in DB</li>
    </ul>
</div>
