﻿@model CreateUserDTO
<link rel="stylesheet" href="~/css/add-user-form.css"/>

<form asp-action="CreateUser" method="post">
    <div class="reg">
        <h1>Create New User</h1>
        <label name="FirstName">First Name</label>
        <input name="FirstName"/>
        <label name="LastName">Last Name</label>
        <input name="LastName"/>
        <label name="Email">Email</label>
        <input name="Email"/>
        <label name="PhoneNumber">Phone Number</label>
        <input name="PhoneNumber"/>
        <br/><button type="submit" class="btn-custom">Submit</button>
    </div>
</form>


