﻿@model UpdateUserDTO
<link rel="stylesheet" href="~/css/update-form.css"/>
<form asp-action="Update" method="post">
    <div class="upd">
        <h1>Enter New Values For The User</h1>
        <input asp-for="UserId" value="@Model.UserId" hidden="hidden"/>
        <label>First Name</label>
        <input asp-for="FirstName" value="@Model.FirstName"/>
        <label>Last Name</label>
        <input asp-for="LastName" value="@Model.LastName"/>
        <label>Phone</label>
        <input asp-for="PhoneNumber" value="@Model.PhoneNumber"/>
        <label>Email</label>
        <input asp-for="Email" value="@Model.Email"/>
        <button type="submit" class="btn-custom">Submit</button>
    </div>
</form>