﻿@model Userio
<link rel="stylesheet" href="~/css/user-show.css"/>

<div class="user-info">
    <h1>
        User Info
    </h1>
    <table>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
        <tr>
            <td class="first">
                @Model.FirstName
            </td>
            <td class="first">
                @Model.LastName
            </td>
            <td class="first">
                @Model.Email
            </td>
            <td class="first">
                @Model.PhoneNumber
            </td>
        </tr>
    </table>
    <h1>
        User Books
    </h1>
    <table class="table2">
        <tr>
            <th>Title</th>
            <th>Author(s)</th>
            <th>Distributor / Year</th>
            <th>Options</th>
        </tr>
        @foreach (var book in Model.UserBooks)
        {
            <tr>
                <td class="first">
                    @book.Book.Title
                </td>
                <td class="first">
                    @foreach (var author in @book.Book.AuthorsBooks)
                    {
                        @author.Author.AuthorName<br/>
                    }
                </td>
                <td class="first">
                    @book.Book.Disributor
                </td>
                <td class="first-return">
                    <a asp-controller="User" asp-action="ReturnBook" asp-route-bookId="@book.BookId" asp-route-userId="@book.UserID">Return</a>
                </td>
            </tr>
        }
    </table>
</div>