﻿@model Book
<link rel="stylesheet" href="~/css/book-show.css"/>
<div class="book">
    <h1>Book Info</h1>
    <h3>Title</h3>
    <p>@Model.Title</p>
    <h3>Author(s)</h3>
    @foreach (var author in @Model.AuthorsBooks)
    {
        <p>@author.Author.AuthorName</p>
    }
    <h3>Distributor / Year</h3>
    <p>@Model.Disributor</p>
    <h3>Description</h3>
    <p>@Model.Description</p>
</div>