﻿@model CreateBookDTO
<link rel="stylesheet" href="~/css/add-book-form.css"/>
<form asp-controller="Book" asp-action="CreateBook" method="post">
    <div class="reg">
        <h1>Create New Book</h1>
        <label asp-for="Title">Title</label>
        <input asp-for="Title" type="text"/>
        <label asp-for="Disributor">Distributor / Year</label>
        <input asp-for="Disributor" type="text"/>
        <label asp-for="Description">Description</label>
        <input asp-for="Description" type="text">
        <button type="submit" class="btn-custom">Submit</button>
    </div>
</form>