﻿@model UpdateBookDTO
<link rel="stylesheet" href="~/css/update-form.css"/>
<form asp-action="Update" method="post">
    <div class="upd">
        <h1>Enter New Values For The Book</h1>
        <input asp-for="Id" value="@Model.Id" hidden="hidden"/>
        <label>Title</label>
        <input asp-for="Title" value="@Model.Title"/>
        <label>Disributor</label>
        <input asp-for="Disributor" value="@Model.Disributor"/>
        <label>Description</label>
        <input asp-for="Description" value="@Model.Description"/>
        <button type="submit" class="btn-custom">Submit</button>
    </div>
</form>