﻿@model SearchResultUni<Author, SearchAuthorQuery>
<link rel="stylesheet" href="~/css/author-search.css"/>

<form asp-action="SearchAuthor" method="post" asp-controller="Search">
    <div class="left">
        <h1>Search Author</h1>
        <label for="an">Enter Author Name</label>
        <input type="text" name="AuthorName" id="an"/>
        <label class="sortion">Sort by</label>
        <select>
            <option value="AuthorName">
                Name
            </option>
        </select>
        <input type="checkbox" name="IsAlph" value="true" checked="checked" id="check"/>
        <label for="check" class="sortion">За алфавітом</label>
        <button type="submit" class="btn-custom">Search</button>
    </div>
</form>
<div class="right">
    @if (@Model.List != null)
    {
        <table>
            <tr>
                <th>
                    Author Name
                </th>
                <th>
                    Options
                </th>
            </tr>
            <tr>
                @foreach (var author in @Model?.List)
                {
                    <td class="first">
                        @author.AuthorName
                    </td>
                    <td class="second">
                        <a asp-controller="Author" asp-action="DeleteAuthor" asp-route-id="@author.AuthorId">Delete</a>
                    </td>
                    <td class="second">
                        <a asp-controller="Author" asp-action="GetUpdateForm" asp-route-authorId="@author.AuthorId">Edit</a>
                    </td>
                    <td class="second">
                        <a asp-controller="Author" asp-action="Index" asp-route-authorid="@author.AuthorId">Show</a>
                    </td>
                    <td class="second">
                        <a asp-controller="Author" asp-action="GetAddBookForm" asp-route-authorId="@author.AuthorId">Add book</a>
                    </td>
                }
            </tr>
        </table>
    }
</div>