﻿@model SearchResultUni<Userio, SearchUserQuery>
<link rel="stylesheet" href="~/css/user-search.css"/>

<form asp-action="SearchUser" method="post" asp-controller="Search">
    <div class="left">
        <h1>Search User</h1>
        <label for="fn">Enter First Name</label>
        <input type="text" name="FirstName" id="fn" class="input" size="30"/>
        <label for="ln">Enter Last Name</label>
        <input type="text" name="LastName" id="ln" class="input"/>
        <label class="sortion">Sort by</label>
        <select>
            <option value="FirstName">
                Name
            </option>
        </select>
        <input type="checkbox" name="IsAlph" value="true" checked="checked" id="check"/>
        <label for="check" class="sortion">За алфавітом</label>
        <button type="submit" class="btn-custom">Search</button>
    </div>
</form>
<div class="right">
    @if (@Model.List != null)
    {
        <table>
            <tr>
                <th>
                    First name
                </th>
                <th>
                    Last name
                </th>
                <th colspan="4">
                    Options
                </th>
            </tr>
            <tr>
                @foreach (var user in @Model?.List)
                {
                    <td class="first">
                        @user.FirstName
                    </td>
                    <td class="first">
                        @user.LastName
                    </td>
                    <td class="second">
                        <a asp-controller="User" asp-action="DeleteUser" asp-route-id="@user.UserId">Delete</a>
                    </td>
                    <td class="second">
                        <a asp-controller="User" asp-action="GetUpdateForm" asp-route-userId="@user.UserId">Edit</a>
                    </td>
                    <td class="second">
                        <a asp-controller="User" asp-action="Index" asp-route-userId="@user.UserId">Show</a>
                    </td>
                    <td class="second">
                        <a asp-controller="User" asp-action="GetAddBookForm" asp-route-userId="@user.UserId">Add book</a>
                    </td>
                }
            </tr>
        </table>
    }
</div>