﻿@model SearchResultUni<Book, SearchBookQuery>
<link rel="stylesheet" href="~/css/book-search.css"/>
<form asp-action="SearchBooks" method="post">
        <div class="left">
            <h1>Search Book</h1>
            <label>Enter Book Title</label>
            <input type="text" name="Title"/>
            <label>Enter Book Distributor</label>
            <input type="text" name="Distributor"/>
            <label class="sortion">Sort by</label>
            <select name="SortProperty">
                <option value="Title">Title</option>
            </select>
            <input type="checkbox" name="IsAlph" value="true" checked="checked" id="check"/>
            <label for="check" class="sortion">За алфавітом</label>
            <button type="submit" class="btn-custom">Search</button>
        </div>
    </form>
    <div class="right">
        @if (@Model.List != null)
        {
            <table>
                <tr>
                    <th>Title</th>
                    <th>Author(s)</th>
                    <th>Distributor / Year</th>
                    <th>About this book</th>
                    <th colspan="3">Options</th>
                </tr>
                @foreach (var book in @Model.List)
                {
                    <tr>
                        <td class="first">
                            @book.Title
                        </td>
                        <td class="first">
                            @foreach (var author in book.AuthorsBooks)
                            {
                                @author.Author.AuthorName<br/>
                            }
                        </td>
                        <td class="first">
                            @book.Disributor
                        </td>
                        <td class="first">
                            @book.Description
                        </td>
                        <td class="second">
                            <a asp-controller="Book" asp-action="DeleteBook" asp-route-id="@book.Id">Delete</a>
                        </td>
                        <td class="second">
                            <a asp-controller="Book" asp-action="GetUpdateForm" asp-route-bookID="@book.Id">Edit</a>
                        </td>
                        <td class="second">
                            <a asp-controller="Book" asp-action="Index" asp-route-bookid="@book.Id">Show</a>
                        </td>
                    </tr>
                }
            </table>
        }
    </div>