﻿@model SearchResult

<div>
    <div>
        @if (@Model.Users != null)
        {
            @foreach (var user in @Model.Users)
            {
                @user.FirstName
                @user.LastName
            }
        }
    </div>
    <div>
        @if (@Model.Authors != null)
        {
            @foreach (var author in @Model.Authors)
            {
                @author.AuthorName
            }
        }
    </div>
    <div>
        @if (@Model.Books != null)
        {
            @foreach (var book in @Model.Books)
            {
                @book.Title
                @book.Disributor
            }
        }
    </div>
</div>