﻿*
{
    margin: 0;
    padding: 0;
}

h1
{
    margin: 25px;
}

.btn-custom
{
    margin-bottom: 10px;
    margin-left: 150px;
    width: 100px;
    height: 40px;
    font-size: 15px;
    border-radius: 20px;
    background-color: #31a285;
    color: white;
    font-weight: bolder;
    box-shadow: 1px 1px black;
}

select
{
    height: 30px;
    width: 200px;
    margin-left: 100px;
    margin-bottom: 20px;
}

.reg
{
    margin-top: 20px;
    position: absolute;
    width: 400px;
    top: 15%;
    left: 35%;
    border-radius: 10px;
    border: 2px solid #1d8585;
}