﻿*
{
    margin: 0;
    padding: 0;
}

.upd
{
    position: absolute;
    width: 400px;
    top: 15%;
    left: 35%;
    border-radius: 10px;
    border: 2px solid #1d8585;
}

.upd h1
{
    margin: 20px;
}

input
{
    margin-left: 20px;
    margin-bottom: 20px;
    width:270px;
    border-radius: 5px;
    border: 1px solid gray;
    height: 30px;
    padding: 5px;
}

label
{
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 20px;
}

.btn-custom
{
    margin-bottom: 10px;
    margin-left: 150px;
    width: 100px;
    height: 40px;
    font-size: 15px;
    border-radius: 20px;
    background-color: #31a285;
    color: white;
    font-weight: bolder;
    box-shadow: 1px 1px black;
}
