﻿*
{
    margin: 0;
    padding: 0;
}

h1, h3
{
    margin: 25px;
}

h2
{
    margin-left: 110px;
}

.author-info
{
    margin-left: 550px;
    border: 3px solid #1d8585;
    width: 400px;
    border-radius: 10px;
}

.li1
{
    font-size: 25px;
    margin:25px;
}

.del
{
    display: block;
    font-size: 18px;
}

