﻿*
{
    margin: 0;
    padding: 0;
}

.book
{
    width: 400px;
    margin-left: 550px;
    border: 3px solid #1d8585;
    border-radius: 10px;
}

.book h1, p, h3
{
    margin: 20px;
}

p
{
    font-size: 22px;    
}