﻿*
{
    margin: 0;
    padding: 0;
}



.left
{
    position: absolute;
    border-radius: 10px;
    border: 2px solid #1d8585;
    margin: 5px 25px;
    width: 300px;
}

.left > input, label, h1, select, button
{
    margin: 20px;
}

.sortion
{
    font-size: 18px;
    margin-right: 5px;
    margin-bottom: 10px;
    display: inline-block;
}

select
{
    margin-left: 3px;
    display: inline-block;
}

.input
{
    width: 100px;
}

.btn-custom
{
    width: 100px;
    height: 40px;
    font-size: 15px;
    border-radius: 20px;
    background-color: #31a285;
    color: white;
    font-weight: bolder;
    box-shadow: 1px 1px black;
}

.right
{
    margin-top: 25px;
    margin-left: 350px;
}

table td, th
{
    border: 1px solid #1d8585;
}

.right > table th
{
    padding: 4px;
    display: inline-block;
    font-size: 20px;
    width: 180px;
}

.first
{
    padding: 4px;
    width: 180px;
    display: inline-block;
    font-size: 14px;
}

.second
{
    padding: 4px;
    display: inline-block;
    font-size: 14px;
    width: 70px;
    text-align: center;
}

table th:nth-child(5)
{
    text-align: center;
    width: 210px;
}

table th:nth-child(4)
{
    width: 350px;
}

#wrapTrigger
{
    display: none;
}

.wrap
{
    color: red;
}

input:checked ~ .wrap
{
    color: #0c63e4;
}

table td:nth-child(4)
{
    width: 350px;
}


