html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    display: block;
    width: 250px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
    outline: none;
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-primary {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-primary:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.nav-item-img > img {
    margin: 3px;
    width: 80px;
    height: 60px;
}

.nav-item {
    display: inline-block;
    width: 150px;
    height: 46px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px 24px;
    background-color: #b07e7e;
}

.nav-item > a {
    display: block;
    width: 150px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    padding-top: 5px;
}

.nav-item:hover {
    background-color: #8d751a;
}

.container-fluid {
    background-color: #463c46;
}

.back
{
    height: 560px;
    width: 100%;
}

.background 
{
    z-index: 0;
    height: 560px;
    width: 100%;
}

.namelib 
{
    position: absolute;
    z-index: 1;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    height: 100px;
    width: 190px;
    top: 110px;
    left: 630px;
}

.name
{
    font-size: 70px;
    padding: 5px 10px;
    color: #3dffff;
    text-shadow: 3px 3px black;
}

.info
{
    position: absolute;
    z-index: 1;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    width: 250px;
    top: 400px;
    left: 600px;
}

.info ul li, h2
{
    padding: 5px;
}
/*    */
