﻿*
{
    margin: 0;
    padding: 0;
}

h1
{
    margin: 25px;
}

.user-info
{
    margin-left: 100px;
}

table, td, th
{
    border: 1px solid #1d8585;
    font-size: 20px;
    padding: 10px;
}

.user-info > table th
{
    display: inline-block;
    font-size: 20px;
    width: 300px;
}

.first
{
    padding: 10px;
    width: 300px;
    display: inline-block;
    font-size: 20px;
}

.first-return
{
    padding: 10px;
    width: 200px;
    display: inline-block;
    font-size: 20px;
    text-align: center;
}

.table2 tr:nth-child(1) th:nth-child(4)
{
    width: 200px;
    text-align: center;
}

